*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

#start_reset_button {
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  display: block;
  width: 100px;
  text-transform: uppercase;
  font-weight: 800;
}

.container {
  margin: auto;
  margin-top: 80px;
  width: 300px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.container .gameboard {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#current-player {
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  color: red;
  padding-top: 10px;
}
