*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
}

.container .gameboard {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}